@media (max-width: 768px) {
  .navlinks {
    display: none;
  }
  .menubar {
    display: block !important;
  }
  .navlinks {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;

    background: url(../img/navbarBG-min.jpg) no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 0% 0%, 100% 0%);
    transition: all 0.4s ease;
    padding: 1rem 0.2rem;
  }
  .show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .navlinks a {
    display: block;
    text-align: center;
    margin: 0.3rem 0;
    padding: 0.5rem 0;
    color: #000000;
  }
  .navlinks a:hover {
    background-color: aliceblue;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
  }
}
